@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(-45deg,#0f172a,#312e81,#7c3aed,#2563eb);

background-size:400% 400%;

animation:bg 15s ease infinite;

overflow:hidden;

}

@keyframes bg{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

body::before{

content:"";

position:absolute;

width:500px;
height:500px;

background:#ffffff12;

border-radius:50%;

top:-200px;
left:-180px;

filter:blur(80px);

}

body::after{

content:"";

position:absolute;

width:450px;
height:450px;

background:#ff00ff18;

border-radius:50%;

right:-150px;
bottom:-170px;

filter:blur(90px);

}

.container{

width:800px;
max-width:90%;

padding:45px;

text-align:center;

border-radius:30px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.2);

box-shadow:
0 15px 60px rgba(0,0,0,.5);

animation:popup 1s;

}

@keyframes popup{

from{

opacity:0;
transform:scale(.7);

}

to{

opacity:1;
transform:scale(1);

}

}

h1{

font-size:40px;

font-weight:700;

color:white;

margin-bottom:30px;

letter-spacing:1px;

}

.quote-box{

padding:40px;

border-radius:25px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.15);

}

.quote{

font-size:30px;

line-height:1.8;

color:white;

font-weight:500;

min-height:150px;

}

.author{

margin-top:30px;

font-size:22px;

color:#ffdd57;

font-weight:700;

}

.buttons{

margin-top:35px;

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

button{

padding:16px 35px;

border:none;

border-radius:50px;

cursor:pointer;

font-size:17px;

font-weight:600;

transition:.35s;

color:white;

}

.new{

background:linear-gradient(135deg,#06b6d4,#2563eb);

}

.copy{

background:linear-gradient(135deg,#ec4899,#9333ea);

}

.like{

background:linear-gradient(135deg,#f43f5e,#ef4444);

}

button:hover{

transform:translateY(-6px);

box-shadow:0 12px 30px rgba(0,0,0,.4);

}

button:active{

transform:scale(.95);

}

@media(max-width:700px){

.quote{

font-size:23px;

}

.buttons{

flex-direction:column;

}

button{

width:100%;

}

}